@font-face {
  font-family: "iconfont"; /* Project id 2537027 */
  src: url('iconfont.woff2?t=1620699843875') format('woff2'),
       url('iconfont.woff?t=1620699843875') format('woff'),
       url('iconfont.ttf?t=1620699843875') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-shouye:before {
  content: "\e650";
}

.icon-wode:before {
  content: "\e605";
}

.icon-xiaoxi:before {
  content: "\e764";
}

.icon-fenlei:before {
  content: "\e625";
}

.icon-gouwuche-:before {
  content: "\e604";
}

.icon-sousuo:before {
  content: "\e647";
}

